{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8">
    <title>URL Data Retrieval </title>
    <link rel="stylesheet" href="{% static '/css/main.css'%}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
      <body>
      <div class="main">
    <h1>DATA RETRIEVER</h1>

          <div class="tasksBoard" style="display: block;">
              <form action="" method = "POST">
    {% csrf_token %}
    {{form.url.label}}:
    {{form.url}}

  <input type="submit" value="Submit">

        </div>

      </div>
      </body>

</html>